.q-app {
  font: 300;
  background-color: $primary;
}

.q-drawer__content {
  background-color: $primary;
}

.q-toolbar {
  padding-left: 0;
  padding-right: 0;
}

.q-layout {
  background-color: $primary;
}

.q-page-container {
  max-width: 1000px;
  margin: auto;
}

.default-margin-top {
  margin-top: 25px;
}
